#adminLoginButton > button{
    margin-bottom: 10px;
}

#adminLoginContainer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    padding-top: 50px;
    border: 2px solid lightgreen;
    border-radius: 30px;
}