.userLoginButton {
  height: 2.6rem;
  padding: 0 15px;
  margin-top: 0.1rem;
  background-color: #006666;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  color: #d9f2e6;
  font-family: Arial, Helvetica, sans-serif;
}

.userLoginButton:hover {
  color: #006666;
  background-color: #d9f2e6;
}

.userLoginContainer {
  text-align: center;
  padding: 1rem;
  margin-right: 2rem;
  text-align: center;
  background-color: white;
}

#loginlabel {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 650;
  font-size: 20px;
}

.userLoginContainer > .input-group {
  width: 80%;
  margin: auto;
  margin-bottom: 0.9rem;
  text-indent: 4px;
}
